{% extends "base.html" %}

{% block content %}
<div class="px-5 my-5 text-center">
  <h1>My Movie Collection</h1>
  <p>A sample project that shows how to support modal forms with Django+HTMX with minimal JavaScript code.</p>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody hx-get="{% url 'movie_list' %}" hx-trigger="load">
    <tr>
      <td colspan="4">Loading...</td>
    </tr>
  </tbody>
</table>
<button hx-get="{% url 'add_movie' %}" hx-target="#dialog" class="btn btn-primary">
  Add a movie
</button>
{% endblock %}